{% extends "main.j2" %}
{# {% block title %}Index{% endblock %} #}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Help</h1>
    <p>
      Review topics below for more information.
    </p>

{% endblock %}