{% extends "main.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Reports</h1>
    <p>
      Choose the type of report you would like to prepare below.
    </p>

    {# Show choices for report #}
    {% if reportEntity is none %}

    {# Task time by project #} 
    <div class="optionsContainer">
        <div class="flex-container">
            <!-- TODO fix this - consider reusable block --> 
            <div style="height:275px"> 
                <h2>Total task time by project</h2>
                <p> Enter the project ID number and submit to obtain report.</p>
                <form action="/reports" method="GET">
                    <input type="hidden" value="tasks" name="reportEntity">
                    <label for="projectId">Project ID:</label><br><br>
                        <input type="number" name="projectId"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>


    {# Show report #}
    {% elif reportEntity is not none %}
    <div class="resultsContainer">
        <table>
            <thead>
                <tr>
                    {% for i in data[0] %}
                        <th> {{ i }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                    <tr>
                        {# https://stackoverflow.com/questions/35407008/using-getattr-in-jinja2-gives-me-an-error-jinja2-exceptions-undefinederror-ge #}
                        {% for j in i.values() %}
                            <td> {{ j }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    {{ img }}
    {% endif %}
    {% for i in clients%}
        <p>{{ i }}</p>
    {% endfor %}
{% endblock %}