{% extends "main.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Retrieve {{ entity }}</h1>


    {# landing page #}
    {% if data | length == 1 %}
    <p>Choose "retrieve all" or search by parameters below.</p>
    <div class="form-container">
        <div class="form-group">
            <form action="/{{entity}}/retrieve" method="GET">

                    {% for i in data[0] %}
                    <div class="form-row">
                   
                        <label for "{{i}}>{{i}}</label>
                        <br>
                        <input type="text" name="{{i}}">
                    </div>
                    {% endfor %}
                    <div class="form-row">
                        <input type="submit" class="submit-button" value="Submit">

                    </div>
            </form> 
        </div>
    </div>
    

    {% elif data[1]|length > 0 %}

    <p><strong>Search results:</strong></p>
    <div class="resultsContainer">
        <table>
            <thead>
                <tr>
                    {% for i in data[0] %}
                        <th> {{ i }} </th>
                    {% endfor %}
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data[1] %}
                    <tr>
                        {# https://stackoverflow.com/questions/35407008/using-getattr-in-jinja2-gives-me-an-error-jinja2-exceptions-undefinederror-ge #}
                        {% for j in data[0] %}
                            <td> {{ i[j] }} </td>
                        {% endfor %}
                        {% set entityId = entity[:-1] ~ 'Id' %}
                        <td><a href="/{{ entity }}/update?{{entity[:-1]}}Id={{ i[entityId] }}">📝</a></td> {# left off here #}
                        <td><a href="/{{ entity }}/delete?{{entity[:-1]}}Id={{ i[entityId] }}">🗑</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# no results #}
    {% elif data[1] | length == 0 %}
    <p>No results</p>
    <a href=/{{entity}}/retrieve>Go back to search.</a>

    {% endif %}

{% endblock %}