{% extends "main.j2" %}
{% block title %}Child{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>

{% endblock %}
{% block content %}

    <body>

        <h1>Upload new File</h1>
          {% if success %}
          <p>Upload successful: {{ filename }}</p>
          <p>Checking file format...</p>

          {% else %}
          {% if error %}
          <p><b>Upload error: {{ error }}.</b></p>
          <p>Please try uploading again.</p>
          {% endif %}
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
          {% endif %}
   </body>
{% endblock %}